* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  --notion-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif;
  font-family: var(--notion-font);
  overflow-x: hidden;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.bodyDonateButtonSection {
  display: block;
  text-align: center;
  width: 100%;
  padding: 32px 16px;
}

.bodyDonateButton {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #31669e;
  border-radius: 10px;
  background: #4fa6ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#4fa6ff), to(#31669e));
  background: -moz-linear-gradient(top, #4fa6ff, #31669e);
  background: linear-gradient(to bottom, #4fa6ff, #31669e);
  -webkit-box-shadow: #499aec 0px 0px 40px 0px;
  -moz-box-shadow: #499aec 0px 0px 40px 0px;
  box-shadow: #499aec 0px 0px 40px 0px;
  text-shadow: #1f4063 1px 1px 1px;
  font: normal normal bold 20px arial;
  color: #ffffff;
  text-decoration: none;
}
.bodyDonateButton:hover,
.bodyDonateButton:focus {
  border: 1px solid #3d80c5;
  background: #5fc7ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#5fc7ff), to(#3b7abe));
  background: -moz-linear-gradient(top, #5fc7ff, #3b7abe);
  background: linear-gradient(to bottom, #5fc7ff, #3b7abe);
  color: #ffffff;
  text-decoration: none;
}
.bodyDonateButton:active {
  background: #31669e;
  background: -webkit-gradient(linear, left top, left bottom, from(#31669e), to(#31669e));
  background: -moz-linear-gradient(top, #31669e, #31669e);
  background: linear-gradient(to bottom, #31669e, #31669e);
}
