* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

body {
  --notion-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif;
  font-family: var(--notion-font);
  overflow-x: hidden;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.bodyDonateButtonSection {
  display: block;
  text-align: center;
  width: 100%;
  padding: 32px 16px;
}

.bodyDonateButton {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 12px 24px;
  border: 1px solid #367bc1;
  border-radius: 10px;
  background: #57c8ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#57c8ff), to(#367bc1));
  background: -moz-linear-gradient(top, #57c8ff, #367bc1);
  background: linear-gradient(to bottom, #57c8ff, #367bc1);
  -webkit-box-shadow: #50b9ff 0px 0px 40px 0px;
  -moz-box-shadow: #50b9ff 0px 0px 40px 0px;
  box-shadow: #50b9ff 0px 0px 40px 0px;
  text-shadow: #224d79 1px 1px 1px;
  font: normal normal bold 20px arial;
  color: #ffffff;
  text-decoration: none;
}
.bodyDonateButton:hover,
.bodyDonateButton:focus {
  border: 1px solid #439af1;
  background: #68f0ff;
  background: -webkit-gradient(linear, left top, left bottom, from(#68f0ff), to(#4194e8));
  background: -moz-linear-gradient(top, #68f0ff, #4194e8);
  background: linear-gradient(to bottom, #68f0ff, #4194e8);
  color: #ffffff;
  text-decoration: none;
}
.bodyDonateButton:active {
  background: #367bc1;
  background: -webkit-gradient(linear, left top, left bottom, from(#367bc1), to(#367bc1));
  background: -moz-linear-gradient(top, #367bc1, #367bc1);
  background: linear-gradient(to bottom, #367bc1, #367bc1);
}
